// for table sorting Animation
table.table-transition .flip-list-move {
    transition: transform 1s;
}

.onlyprint {
  display: none !important;
}

.pointer {
  cursor: pointer;
}

.modal-xxl {
  max-width: 98% !important;
}

@page {
  size: auto;
}

body {
  background-image: url("https://i.pinimg.com/originals/aa/d0/25/aad0257efb6f7e171110d6963922ad26.jpg") !important;
  background-color: #cccccc;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media print { 
  /* All your print styles go here */
  .btn, .noprint { display: none !important; } 

  table, th, td {
    border: 1px solid black;
  }

  .modal-xl {
    max-width: 100% !important;
  }

  .modal-xxl {
    max-width: 100% !important;
  }

  .onlyprint {
    display: block !important;
  }

 }